---
import tailwind from "@astrojs/tailwind";
const {titulo , imagen, descripcion, proceso} = Astro.props 
console.log(titulo)
--- 

<div class="contenedor-seccion2 w-full h-auto  md:h-[450px] bg-[#eef2f5] py-5">
     <div class=" w-[90%] h-auto mx-auto flex flex-col justify-center items-center md:flex-row max-w-[1140px] ">
         <div class="imagen-proceso w-[100%] md:w-[50%] h-auto] flex flex-col justify-center items-center md:items-start">
            <img src={imagen.url} alt="imagen 2" class="w-[300px]  md:w-[600px] h-auto    md:relative right-[100px]" loading="lazy">
         </div>
         <div class="txt-2 w-[100%] md:w-[50%]">
              <h2 class="text-center text-3xl text-[rgba(0,0,0,1)] ">{proceso}</h2>
             <p class="text-justify mt-3 text-[rgba(0,0,0,0.55)]  text-[1rem] md:text-[1.2rem] leading-6 md:leading-8">{descripcion}</p>
         </div>
     </div>
</div>   
 
   
 
<style> 
  
</style>