--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="es-MX">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="" id="fuente">
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WSWPF4JV');</script>
<!-- End Google Tag Manager -->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSWPF4JV"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<Header/>
		<slot />
	</body>
</html>
<style is:global> 
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--cta:#4a0bff;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body{
		font-family: 'Poppins', sans-serif;
	}

	h1,h2,h3,h4,h5 {
		font-family: 'Poppins', sans-serif;
	}

	*{
		margin: 0;
		padding: 0;
	}
	
</style>

<script>
	 const fuente = document.querySelector('#fuente')
	 const urlFuente = "https://fonts.googleapis.com/css2?family=Poppins&display=swap" 
	 function agregarCdn(){
        
		fuente.setAttribute('href' , urlFuente)
	 }

	 window.addEventListener('load', agregarCdn) 
</script>


